# Rust
backend/target/
backend/.env

# Node.js
node_modules
.next
frontend/next-env.d.ts
frontend/tsconfig.tsbuildinfo
frontend/.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
